@import url(https://fonts.googleapis.com/css?family=Roboto:300);
a:link {
    color: #0d47a1
    /*#3F51B5*/
    
    ;
    text-decoration: none;
}


#d_respuesta{

    margin-left:  3%;
    font-style: oblique;
}

#psw_incorrecta{
    color: red;
}

.m_error{
    color: #ff0800;
    margin-left: 6%;
    margin-bottom: 3%;
    font-weight: bold;
}


.mi_perfil{

    margin-left: 6%;
    font-weight: bold;
    font-size: 18px;
}


    #container-fotos{
       
        text-align: center;
    }
#label_masculino, #label_femenino{
    margin-left: 50px;
}

a:visited {
    color: #002171
    /*#536DFE*/
    
    ;
    text-decoration: none;
}

 .formulario-vertical p{
    
   
 }

.formulario-vertical p{
    font-size: 1.1em;
}

a:hover {
    color: #5472d3;
    text-decoration: none;
}
input:focus {
    border-color: #5472d3;
}
header input {
    background-color: #f8fdff;
}
img {
    border-radius: 8px;
}
select {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 29px;
}

#home{
    width: 2px;
    height: 2px;
    visibility: hidden;
}
#label-nombre label {
    margin-top: 1.8%;
}
#label-nombre input {
    width: 15.5%;
}
#label-titulo input {
    width: 16.5%;
}

#img-logo {
    width: 12%;
    height: 100px;
    position: absolute;
    margin-top: -0.3%;
    padding-left: 0.5%;
}
#cabecera-fotos, #h2-registro {
    display: block;
    color: #000307;
    font-family: Georgia;
    font-weight: bold;
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 1%;
    background-color: rgb(197, 202, 233);
    width: 20%;
    margin: 3% auto;
    border-radius: 5px;
}


 img {
    margin-bottom: 10%;
    width: 14.3em;
    height: 14.3em;
}
#cuerpo p {
    margin-top: -6%;
}
article,
figure {
    display: inline-block;
    margin-left: 3%;
    height: 120%;
    margin-top: 3%;
}
.cosa {
    top: 9px;
    font-size: 25px !important;
}
i {
    top: 2px;
    right: 2px;
    position: relative;
    font-size: 15px !important;
}
/*cabecera de aqui para bajo*/

#nombre-usuario {
    margin-top: -3em;
    font-size: 1em;
}

form{
    margin-left: 3%;
}

form header {
  margin: 0 0 5px 0;
}

#img-usuario {
    width: 3em;
    height: 3em;
    margin-left: 30em;
}
.formulario-vertical {} #container-usuario {
    display: inline-block;
}
article {
    border-style: solid;
    border-color: #c5cae9;
    padding: 1%;
    background-color: #c5cae9;
    border-radius: 5%;
}
.formulario-avanzada label {
    float: left;
    display: block;
    width: 5%;
}
.formulario-avanzada input {
    float: none;
    display: inline;
}
.formulario-vertical label {
    float: left;
    display: block;
    width: 15%;
}
.formulario-vertical input {
    float: none;
    display: inline;
}
input {
    background-color: #c5cae9;
    border: 1px solid #9499b7;
}
textarea {
    background-color: #c5cae9;
    border: 1px solid #9499b7;
}
#container-logo {
    float: left;
}
#container-busqueda {
    padding-top: 1.5%;
    float: left;
    margin-left: 15%;
    display: inline-block;
    width: 50%;
    padding-left: -10%;
}
#avanzada {
    margin-left: 56%;
    font-size: 1em;
}
#container-busqueda input[type=text] {
    width: 70%;
    margin-bottom: 1%;
    border-radius: 5%;  
    height: 2em;
    line-height: normal;
    padding-left: 3%;
    margin-top: 1.5%;
}
th {
    background-color: #0d47a1;
    color: white;
    width: 4%;
}
tr:hover {
    background-color: #828282;
}
table {

    border: 1px solid black;
    text-align: left;
    margin:0 auto;
    width: 60%;
}

th,
td {
    padding: 2%;
    text-align: left;
}
footer {
    margin-top: 8em;
}
#sexo {
    display: inline-block;
}
.formulario-vertical textarea {
    padding-left: 1%;
    border-radius: 3%;
    }
.formulario-vertical input[type=text],
.formulario-vertical input[type=search],
.formulario-vertical input[type=password],
.formulario-vertical input[type=email],
.formulario-vertical input[type=date] {
    padding-left: 1%;
    border-radius: 10%;
    width: 15em;
    height: 2em;
    }
#container-registro input[type=password] {
    padding-left: 3%;
    border-radius: 5%;
    padding-bottom: 3.4%;
    
    text-align: left;
    margin-top: 2.2%;
}
#container-registro input[type=text] {
    padding-left: 2%;
    border-radius: 5%;
    height: 40%;
    
}
/*esto me deja modificar el placerholder de un input*/


#nombre,
#psw {
    margin-top: 2%;
    padding-bottom: -2%;
    margin-bottom: 2%;
    width: 80%;
}
#container-registro {
    float: right;
    width: 35%;
    font-size: 1em;
    display: inline-block;
    margin-right: 0.5%;
    margin-left: -3%;
}
#remember-id {
    font-size: 0.7em;
}
#texto-registro:hover {
    background-color: #002171;
    border-color: #002171;
}
#texto-registro {
    font-size: 0.95em;
    background-color: #0d47a1;
    color: white;
    padding: 6px 10.5px 6px 10.5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5px;
    border-color: #0d47a1;
    
}
.forgot {
    font-size: 0.75em;
}
#container-usuario {
    width: 40%;
    height: 3.5em;
    float: left;
    margin-top: 2%;
}
#container-psw {
    width: 40%;
    float: left;
    margin-top: 2%;

}
#container-registro label {
    display: block;
    font-size: 1em;
    font-family: Roboto;
}
label [type="checkbox"] {
    width: 1.1em;
    height: 1.1em;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
#accion {
    background-color: #A9CBEE;
    /*background-color: rgb(54,183,198);*/
    
    border-radius: 15px;
}
#accion p {
    font-family: Helvetica;
    font-size: 20px;
}
#registrarse-login {
    float: right;
    margin-right: 4%;
    margin-top: 2%;
}
.enviar-registro:hover {
    background-color: #936F02;
}
.enviar-registro {
    background-color: #0d47a1;
    border: none;
    color: #E8EAF6;
    ;
    padding: 0.6% 0.5%;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 10%;
    margin-bottom: 2%;
}
#enviar:hover {
    background-color: #002171;
}
input[id="enviar"] {
    text-align: center;
}
#enviar {
    background-color: #0d47a1;
    /* Green */
    
    border: none;
    color: #E8EAF6;
    
    padding: 0.6% 0.10%;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 10%;
    margin-bottom: 2%;
    width: 9%;
    height: 100%;
}
#login {
    background-color: #0d47a1;
    /* Green */
    
    border: none;
    color: #ffffff;
    padding: 2% 4.8%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin-top: 4%;
    float: left;
    cursor: pointer;
    border-radius: 10%;
    margin-bottom: 2%;
}
#login:hover {
    background: -webkit-linear-gradient( center top, #1e62d0 5%, #3d94f6 100%);
    background: -moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100%);
    background-color: #002171;
}
body {
    background-color: #f8fdff;
       
    color: #000;
    font-family: Roboto-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
     margin:0;
    padding:0;
}
header {
    background-color: rgba(197, 202, 233,0.9);
    border-radius: 2%;
    /*position: fixed; CON ESTO FIJO EL MENU ARRIBA*/
   
    padding-bottom: 1%;
    color: #000000;
    display: inline-block;
    width: 100%;
    letter-spacing: 0.0em;
    


}
@media screen and (max-width: 1200px) {

    table{
        float: none;
    }

   body{
    max-width: 100%;
   }

    header {
        height: 100px;
        width: 100%;

        font-size: 0.95em;

        
    }



    #container-busqueda input[type=text] {
    width: 40%;
    margin-bottom: 1%;
    border-radius: 5%;
    
    height: 2em;
    line-height: normal;
    padding-left: 3%;
    margin-top: 1.5%;
}

#container-registro input[type=text]{
    width: 55%;
height: 5px;
} 

#container-registro input[type=password] {
width: 55%;
height: 10px;

}





#container-registro input[type=text] {
    padding-left: 2%;
    border-radius: 5%;
    height: 33%;
    
}

#avanzada {
    margin-left: 8%;
    font-size: 0.7em;
}

#container-registro {
    width: 60%;
    margin-top: -7.5%;
    margin-left: 8%;
    position: relative;


}



#container-usuario {
    
   
    margin-left: 17%;
    margin-top: 2%;
    position: absolute;

}
#container-psw{
    
    
    margin-left: 45%;
    
    margin-top: 2%;
    position: absolute;
}


#img-logo {



visibility: hidden;

}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }

#container-busqueda{
    margin-left: 90px;
    

}

#home{
    height: 100px;
width: 80px;
    visibility: visible;
    margin-left: 10px;
    position: absolute;
    }

input {
    &::-ms-input-placeholder {
       color: transparent;
       -webkit-transition: color 0.2s ease;
       transition: color 0.2s ease;
    }
}

.article, figure{
    margin-left: 100%;
}

#login{
        margin-left: 80%;
        padding: 7px 20px;
        margin-top: 2%;
        position: absolute;

}

#texto-registro{
    margin-top: 9%;
    position: absolute;
    
    margin-left: 80%;
    border-radius: 6px

}


#enviar {

    padding: 6px 8px;
    width: 50px;
}

}



@media screen and (max-width: 780px) {



    #container-registro{
        max-width: 100%;
        
        max-height: 100%;
    }
    .formulario-vertical label, .formulario-avanzada label{
            width: 500px;

    }

    #container-usuario{
        visibility: hidden;
        
    }

     #container-psw{
        visibility: hidden;
        
    }

     #login{
       margin-left: 60%;
        margin-top: -35px;
        
         
        position: absolute;

    }

    #texto-registro {
        margin-left: 60%;
        height:20px;
        width: 50px;
        margin-top: 10px;
        text-align: center;
        position: absolute;

    }    


    #img-logo {
        visibility: hidden;
        width: 15%;
        margin-left: 3%;
        margin: none;
    }

    #container-busqueda {
        margin-left: 10%;
        margin-top: none;
        max-width: 210px;
    }
  

     #container-busqueda input[type=text] {
          width: 210px;

     }

     #enviar {
        margin-left: -15%;
        margin-top: 40px;
        height: 25px;
        position: absolute;
        width: ;
     }
    



    .formulario-vertical {
        position: relative;
        clear: left;
        max-width: 100px;
    }
    
    .formulario-vertical label{
        width: 500px;
    }

  




    #home{
    height: 50px;
    width: 35px;
    margin-left: 10px;
    position: absolute;
    }

   

    #container-busqueda{
        margin-top: -7px;
    }

    i{
        visibility: hidden;
    }

}
    

@media screen and (max-width: 400px) {

        #login{
        font-size: 0.7em;
         padding: 7px 20px;
         margin-left: 70px;
    }

    #enviar{
        margin-left: -90px;
    }

    #texto-registro{
        font-size: 0.7em;
        padding: 3px 6px;
        margin-left: 70px 
    }

    i{ visibility: hidden; }

    #container-busqueda{
        margin-top: 15px;
    }

    #container-busqueda input[type=text]{
        width: 80px;
    }

    #avanzada{
        visibility: hidden;
    }


}
